body{
    background-color: rgb(163, 201, 211);
}

.login-div{
    margin-top: 65px;
    margin-left: 28%;
    border-color: aqua;
    padding-top: 13px;
    padding-left: 15%;
    width: 30%;
    height: 530px;
    border-radius: 30px;
    background-color: rgb(238, 238, 238);
}

.money-img{
    height: 2.7rem;
    width: 3.2rem;
    border-radius: 7px;
}

.heading{
    font-size: 2.3rem;
    margin-left: -11%;
    font-family:Arial, Helvetica, sans-serif ;
}
.trckr{
    color: rgb(127, 128, 129);
    font-weight: 100;
    margin-left: 80px;
}

.main-form{
    text-align: center;
    padding-right: 30px;
    width: 70%;
    /* border-color: black; */
    /* border-style: dashed; */
    padding-top: 19px;
    padding-bottom: 19px;
    padding-left: 14px;
    margin-left: -50px;    
}

.tab{
    border: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    color: rgb(35, 78, 123);
}

.tab-buttons{
    margin-bottom: 24px;
    display: flex;
    justify-content: space-around;

}

.tab.active{
    border-bottom: 3px solid rgb(35, 78, 123);
    font-weight: bold;
}

.form{
    position: fixed;
    /* display:contents;  */
    /* margin-top: 0; */
    /* left: 0; */
    width: 100%;
    max-width: 300px;
    /* Hides the inactive form */
    opacity: 0;
    pointer-events: none; /* Prevents clicking on the hidden form */

    /* This is the magic! */
    transition: 0.4s ease-out;
}
.form.active{
    /* display: block; */
    /* Shows the active form */
    padding-top: 10px;
    position: relative;
    opacity: 1;
    pointer-events: auto; /* Allows clicking on the active form */
}

.forgot-pwd{
    color: rgb(35, 78, 123);
    /* padding-top: 0px; */
    text-decoration: none;
    font-size: 15px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}
.forgot-pwd:hover{
    text-decoration: underline;
    color: cornflowerblue;
}


.form input{
    margin-bottom: 19px;
    border-radius: 15px;
    background-color: white;
    height: 40px;
    width:99%;
    border: none;
    padding-left: 10px;
}

.email-field input{
    box-sizing: border-box;
    padding-left: 43px;  /* Make room for the left icon */
    padding-right: 35px; /* Make room for the right icon */
}
.email-field i {
  position: absolute;
  padding-top: 3%;
  color:grey;
  background-color: white;
}

.email-field .fa-envelope {
  margin-left: 13px;
  margin-top: 2px ;
}

/* 5. Position the PADLOCK icon on the RIGHT */
.email-field .fa-lock {
  margin-right: 15px;
  margin-left: -27px;
  margin-top: 1px;
}

.password-field input{
    box-sizing: border-box;
    padding-left: 43px;  /* Make room for the left icon */
    padding-right: 35px; /* Make room for the right icon */
}
.password-field i {
  position: absolute;
  padding-top: 3%;
  color:grey;
  background-color: white;
}

.password-field .fa-key {
  margin-left: 13px;
  margin-top: 2px ;
}

/* 5. Position the PADLOCK icon on the RIGHT */
.password-field .fa-lock {
  margin-right: 15px;
  margin-left: -27px;
  margin-top: 1px;
}

.name-field input{
    box-sizing: border-box;
    padding-left: 43px;  /* Make room for the left icon */
    padding-right: 35px; /* Make room for the right icon */
}
.name-field i {
  position: absolute;
  padding-top: 3%;
  color:grey;
  background-color: white;
}

.name-field .fa-user {
  margin-left: 13px;
  margin-top: 2px ;
}

/* 5. Position the PADLOCK icon on the RIGHT */
.name-field .fa-lock {
  margin-right: 15px;
  margin-left: -27px;
  margin-top: 1px;
}


button[type="submit"]{
    cursor: pointer;
    border: none;
    font-size: 15px;
    width: 155px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 34px;
    border-radius: 9px;
    background-color:  rgb(71, 144, 222);;
}
button[type="submit"]:hover{
    background-color: black;
}

.but-in{
  margin-top: 9%;
}
#toast-container {
  position: fixed;
  top: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 9999;
}

.toast {
  min-width: 250px;
  background-color: #333;
  color: white;
  padding: 12px 18px;
  border-radius: 6px;
  font-size: 0.9rem;
  box-shadow: 0 2px 8px rgba(0,0,0,0.2);
  opacity: 0;
  transform: translateX(100%);
  animation: slideIn 0.4s ease forwards, fadeOut 0.5s ease 3s forwards;
}

.toast.success {
  background-color: #28a745;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px;
}

.toast.error {
  background-color: #dc3545;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px;
}

.toast.info {
  background-color: #17a2b8;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px;
}

@keyframes slideIn {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeOut {
  to {
    opacity: 0;
    transform: translateX(100%);
  }
}
